<!DOCTYPE html>
<html>
<head>
	<title>Skills Acquired in Phase 0</title>
</head>
<body>
	<h1>Skills Acquired in Phase 0</h1>
		<ul>
			<li> HTML </li>
			<li> CSS </li>
			<li> Ruby </li>
			<li> Javascript </li>
			<li> SQLite </li>
			<li> Sinatra </li>
		</ul>
</body>
</html>