/*1. set paramters for size of body

2. Move octopus to center

3. Adjust glass and hat*/

body{
	display: block;
	max-width: 500px;
	max-height: 500px;
}

#octopus {
	position: absolute;
	top: 250px;
	left: 250px;
	margin-top: 5px;
	}

#hat {
	position: absolute;
	top: 90px;
	left: 250px;
}

#glasses {
	position: absolute;
	top: 325px;
	left: 390px;
	z-index: 1;


	/*bottom: 10px;*/
	/*z-index: 1;*/
	
	
}