/*1. set paramters for size of body

2. Move octopus to center

3. Adjust glass and hat*/

body{
	display: block;
	max-width: 500px;
	max-height: 500px;
}

#octopus {
	position: absolute;
	left:350px;
	top: 225px;
	
}

#hat {
	position: absolute;
	top: 325px;
	left:350px;
	max-width: 100px
	max-height:100px;
}

#glasses {
	position: absolute;
	top: 325px;
	left: 390px;
	z-index: 1;


	/*bottom: 10px;*/
	/*z-index: 1;*/
	
	
}